.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo{
    text-align: left;

}
.nav-title h1{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
}

/* profile-design */

.top-icon{
    width: 200px;
    right: 100px;
    top: 30px;
    transition: width 2s, transform 2s;
    
}
.top-icon:hover{
    width: 250px;
   
    
}
.button-icon{
    width: 200px;
    left: 50px;
    bottom: 14px;
    transition: width 2s, transform 2s;
}
.button-icon:hover{
    width: 250px;
}

/* About-design */

.about-img img{
    margin-top: 105px;
    width: 250px;
    height: 300px;
}

.about-details p{
    text-align: left;
}

/* professional experience */

.card{
    height: 700px;
}
/* Achivement-contect */

.achivement{
    padding-right: 50px;
    padding-left: 50px;
}
.contact  .cv-button{
    width: 150px;

}

.contact-link{
    position: relative;
}
.media-link{
    position: absolute;
    margin-top: 200px;
    top: 78%;
    left: 65%;
    transform: translate(-78%,-65%);
}

/* footer */

.footer{
    padding: 20px;
}
.footer-left a{
    display: inline;
    margin: 10px;
   
}